body {
	
	background-color: rgb(139, 203, 243); 
}


#main-info {
	border: 1px solid black;
	text-align: center;
	box-shadow: 10px 5px 5px blue;
	/* width: 100%; */
	border-radius: 30px;
	background-color: white;
}

#temp {
	font-weight: bold;
	font-size: 70px;

}


#temps {
	display: flex;
	justify-content: center;
}

.forecast {
	/* float: left; */
	border: 5px solid transparent;
	border-radius: 10%;
	border-color: rgb(156, 230, 255, .2);
	height: 170px;
	background-color: rgba(34, 120, 233, 0.568);

}

tbody {
	 display: flex; 
	flex-direction: row;
	font-size: 30px;
	font-weight: 1000;
}



.row-head {
	display: flex;
	justify-content: center;
	font-size: 30px;
}


tr{
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 10px 5px 5px blue;
}

table{
	display: flex;
	justify-content: space-between;
}

th{
	border-bottom: dotted;
}